.gallary,
.gallary_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -15px;
}
.gallary_container select {
  padding: 10px 30px;
  width: 30%;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 16px;
  outline: none;
  font-size: 18px;
}
@media screen and (max-width: 489px) {
  .gallary_container select {
    width: 80%;
  }
}
.gallary_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_btn {
  width: 80%;
  margin: 1rem auto;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 16px;
  box-shadow: 4px 5px 5px #999;
  font-size: 18px;
  font-weight: bold;
}
.gallary_conetent_add {
  position: fixed;
  top: 25px;
  z-index: 999;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 0px;
  background-color: #fff;
  box-shadow: 4px 5px 5px #999;
  border-radius: 16px;
  overflow-y: scroll;
}
.gallary_conetent_add > svg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  font-size: 45px;
  cursor: pointer;
}
.gallary_inputs {
  width: 100%;
}
.inputs_name,
.inputs_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0px;
  width: 100%;
}
.inputs_name input,
.inputs_desc textarea {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #999;
  width: 250px;
  outline: none;
}
.section_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dropdown-center .btn,
.dropdown-center .dropdown-menu {
  width: 250px;
}
.add_images {
  position: relative;
  top: -20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add_images label {
  width: 350px;
  background-color: #999;
  padding: 1rem;
  border-radius: 1rem;
}
.add_images img {
  width: 250px;
}
.add-product-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-product-pic p {
  color: #000;
}
.add-product-pic svg {
  font-size: 150px;
  color: #000;
}
.select-input {
  display: none;
}
.images_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.images_item {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: #eee;
  border-radius: 1rem;
}
.images_item img {
  width: 300px;
  height: 250px;
}
.images_item div button {
  padding: 10px 20px;
  border: 1px solid #999;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s ease;
}
.images_item div button:hover {
  background-color: #000;
  color: #fff;
}
.delete_image {
  position: fixed;
  top: 30%;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 5px 5px #888;
  padding: 1rem;
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.delete_image h4 {
  margin-bottom: 2rem;
  font-size: 25px;
}
.delete_image div button {
  padding: 10px 20px;
  border: 1px solid #999;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s ease;
}
.update_image {
  position: fixed;
  top: 30%;
}
.update_image .add_images,
.update_image .add_images label {
  background-color: #ccc;
  border-radius: 10px;
}
.update_image .add_images div button {
  padding: 10px 20px;
  border: 1px solid #999;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s ease;
}
.udpate_image {
  width: 250px;
  position: fixed;
  top: 10%;
  left: 40%;
}
.update_image img {
  width: 100%;
  height: 300px;
}
.update_image .add_images div button:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 489px) {
  .delete_image,
  .update_image {
    width: 350px;
  }
  .gallary_conetent_add {
    width: 95%;
  }
  .inputs_name,
  .inputs_desc {
    flex-direction: column;
  }
}
.erro {
  color: rgb(209, 0, 0);
  font-size: 18px;
  font-weight: bold;
}
.addImage_bottem button {
  padding: 10px 20px;
  border: 1px solid #999;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.loader {
  width: 32px;
  height: 32px;
  border: 3px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.update_product > svg {
  position: absolute;
  top: 10%;
  left: 0%;
}
